<!doctype html>
<html lang="en" data-framework="backbonejs">
	<head>
		<meta charset="utf-8">
		<title>Vue.js TodoMVC</title>
		<link rel="stylesheet" href="assets/base.css">
		<link rel="stylesheet" href="assets/index.css">
		<script src="https://unpkg.com/vue"></script>
	</head>
	<body>
		<section class="todoapp">
			<header class="header">
				<h1>todos</h1>
				<input class="new-todo"
				  v-model="newTodo"
					v-on:keyup.enter="addTodo"
				placeholder="What needs to be done?" autofocus>
			</header>
			<section class="main">
				<ul class="todo-list">
					<li v-for="todo in todos"
						:class="{editing: todo == editedTodo}">
						<div class="view">
								<input class="toggle" type="checkbox" v-model="todo.completed" />
								<label @dblclick="editTodo(todo)">{{ todo.title }}</label>
								<button class="destroy" @click="removeTodo(todo)"></button>
						</div>
						<input class="edit" type="text"
							v-model="todo.title"
							@blur="doneEdit(todo)"
							@keyup.enter="doneEdit(todo)" />

					</li>
				</ul>
				<input class="toggle-all" id="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list"></ul>
			</section>
			<footer class="footer"></footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<p>Written by <a href="https://github.com/ErikCh">Erik Hanchett</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>

		<script src="main.js"></script>
	</body>
</html>
